/*SETUP*/

@font-face {
  font-family: montserrat;
  src: url("FONT/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: montserrat-italic;
  src: url("FONT/Montserrat-Italic-VariableFont_wght.ttf");
}

@keyframes background-scroll {
  from {
    background-position: 0vw 0vh;
  }
  to {
    background-position: 100vw 100vh;
  }
}

/*TAGS*/

* {
  font-family: montserrat;
  color: white;
}

body {
  background: rgb(0, 26, 20);

  margin: 0;
}

header {
  background: rgb(0, 5, 4);
  box-shadow: 0px 0px 30px rgb(0, 5, 4);

  height: 8vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  width: 20vw;
  text-align: center;
}

main {
  background-color: rgba(0, 5, 4, 0.568);
  border-radius: 20px;
  
  margin: 1vw;
}

main > h1 {
  padding: 1vw 1vw 0vw 1vw;
}

/*CLASSES*/

.background {
  background: url("IMG/Checkers.png");
  background-size: 100px;
  opacity: 0.05;
  animation: background-scroll 60s linear infinite;

  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;

  z-index: -1;
}

.game_section {
  background-color: rgba(0, 5, 4, 0.568);
  border-radius: 20px;

  margin: 1vw;

  display: flex;
  flex-wrap: wrap;
}

.game_showcase {
  background-color: black;

  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.game_video {
  width: 100%;
}

.game_description {
  font-size: 1vw;
  margin-right: 3vw;
}

.game_title {
  background: rgba(0, 0, 0, 0.637);
  border-radius: 20px;
  font-size: 3vw;

  width: 100vw;
  padding: 1vw;
}

@media (max-width: 800px) {
  .game_showcase {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .game_showcase > ul {
    width: 85vw;
    padding: 0;
    margin: -20vh 5vw 5vh 5vw;
  }

  .game_description {
    font-size: 4vw;
    width: 100%;
  }
  .game_video {
    width: 90vw;
  }
}

/*IDS*/
