:root {
    --primary: rgb(12, 12, 22);
    --textColor: rgb(255,255,255)
}
@font-face {
    font-family: montserrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: montserrat-italic;
    src: url(Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
body {
    font-family: montserrat;

    background-color: var(--primary);
    color: var(--textColor);

    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.329);
    height: 12vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header > h3 {
    margin: 0;
}

header > a {
    margin: 0 5px;

    color: rgb(255, 255, 255);
    font-size: 2pc;
    font-weight: bolder;
    text-decoration: line-through solid rgba(44, 36, 99, 0.171) 3pc;
}

main {
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkSection {
    background: center / cover no-repeat url(IMG/HOH.png), rgba(0, 0, 0, 0.329);
    width: 90%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: end;

    color: white;
    text-decoration: none;

    transition: width .7s ease-in-out;
}

.linkSection:hover {
    width: 93%;
}

.linkSection > h2 {
    align-self: flex-end;
    font-size: 3pc;
    margin: 1%;
}

.linkSection > p {
    align-self: flex-end;
    text-align: end;
    margin: 1%;
}

main > h1 {
    transition: font-size .5s ease-in-out;
}

main > h1:hover {
    font-size: 2.1pc;
}

main > ul {
    display: flex;
    flex-wrap: wrap;
}

main > ul > li {
    width: 50%;
}