:root {
    --primary: rgb(24, 23, 27);
    --textColor: rgb(255,255,255)
}
@font-face {
    font-family: montserrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: montserrat-italic;
    src: url(Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
body {
    font-family: montserrat;

    background-color: var(--primary);
    color: var(--textColor);

    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.329);
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

header > a {
    margin: 0 5px;

    color: rgb(255, 255, 255);
    font-size: 2pc;
    font-weight: bolder;
    text-decoration: line-through solid rgba(71, 67, 99, 0.171) 3pc;
}