@font-face {
    font-family: PixelifySans;
    src: url("font/PixelifySans-VariableFont_wght.ttf");
}

body {
    background: linear-gradient(rgb(39, 44, 44), rgb(9, 10, 10));

    min-height: 100dvh;

    margin: 0;

    color: white;
    font-family: "PixelifySans";

    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-weight: normal;
    font-size: 4dvh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-shadow: 0px 0px 1.5dvh white;

    height: 10dvh;
}

full {
    min-height: 100%;
    min-width: 100%;
}

.sourceContainer {
    width: calc(100% - 10dvw);
    height: calc(100% - 10dvw);

    flex: 1;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 5dvw;
}

.sourceSprite {
    width: 10dvw;
    height: 10dvw;

    position: relative;
}

.sourceSprite img {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.sourceSprite div {
    position: absolute;
    top: 100%;

    left: 50%;
    transform: translate(-50%, 0%);

    font-size: 3dvh;
    text-align: center;

    text-shadow: 0px 0px 1.5dvh white;
}

.centerButton div {
    position: absolute;
    top: 100%;

    left: 50%;
    transform: translate(-50%, 0%);

    font-size: 3dvh;
    text-align: center;

    text-shadow: 0px 0px 1.5dvh white;
}

.centerButton img {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.trashSprite {
    left: 50%;
    transform: translate(-50%, 0);

    grid-area: 1 / 2 / 1 / 3;

    width: 15dvh;
    height: 15dvh;
}

a {
    color: white;
}

.secondSprite {
    left: 100%;
    transform: translate(-100%, 0);

    grid-area: 1 / 3 / 1 / 4;
}

.bottomSprite {
    grid-area: 2 / 1 / 2 / 4;

    left: 50%;
    transform: translate(-50%, 0);
}

.sprite {
    image-rendering: crisp-edges;
}

.trashbag {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30dvh;
    height: 30dvh;

    transform: translate(-50%, -50%);

    image-rendering: crisp-edges;
}

.positive {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 30dvh;
    height: 30dvh;

    transform: translate(0%, -50%);

    image-rendering: crisp-edges;
}

.img_glow {
    z-index: -1;

    opacity: 50%;

    filter: blur(2dvh) brightness(1.5);
}



.trashbag:hover {
    cursor: pointer;
}

/* ############ */

.node {
  position: absolute;
  padding: 20px 30px;
  border: 1px solid #fff;
  border-radius: 8px;
  background: white;
}

#connections {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;

  z-index: -1;
}

#connections line {
  stroke: #fff;
  stroke-width: 2;
  marker-end: url(#arrowhead);
}

